# Dependencies
/server/node_modules
/server/package-lock.json
/client/node_modules
/client/package-lock.json
/client/dist
/client/dist-ssr
/client/*.local

# Production
/server/dist/

# Environment variables
/server/.env

# Editor directories and files
.DS_Store

# Tests
/server/coverage

# Logs
/client/logs
/client/*.log
/client/npm-debug.log*